body {
    margin: 0;
}
div p{
    padding: 1rem;
    font-size: 20px;
    border: 10px solid rgb(109, 107, 107);
    margin: 10;
}
.title {
    background-color: aliceblue;
    font-family: 'Franklin Gothic Medium';
    font-size: 50px;
}
.man {
    background-color: rgb(255, 245, 100);
    font-family: 'Franklin Gothic Medium';
}
.you {
    background-color: rgb(129, 238, 255);
    font-family: Arial;
}
.thought {
    background-color: rgb(255, 255, 255);
    font-family: Arial;
}
.jonkler{
    background-color: greenyellow;
    font-family: 'Courier New', Courier, monospace;
}
div {
    background-color: rgb(161, 162, 162);
    padding: 20px;
}
#bold {
    font-weight: bold;
}
.insanity1 {
    background-color: rgb(157, 70, 238);
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.insanity2 {
    background-color: rgb(49, 143, 220);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}